    </div>
    <div class="footer">
        {% if footer_text %}
            {{ footer_text }}
        {% else %}
            Built with Liquid Templates
        {% endif %}
    </div>
</body>
</html>
